---
import bottomskillswave from "../assets/images/bottomskillswave.png";
import climbs from "../assets/images/climbs.jpg";
import quoteplan from "../assets/images/quoteplan.jpg";
import tinyhouse from "../assets/images/tinyhouse.jpg";
import favicon from "../assets/images/favicon.png";
---

<div class="flex">
  <div class="w-screen">
    <img class="object-fill w-screen" src={bottomskillswave} alt="waves" />
    <div
      id="projects"
      class="flex flex-col mx-auto sm:max-w-[65%] max-w-[85%] my-10 gap-7"
    >
      <div class="flex flex-row justify-center sm:p-10 p-3">
        <h1 class="text-orange-500 font-bold items-center sm:text-5xl text-4xl">
          Projects
        </h1>
        <img
          class="sm:h-4 sm:w-4 h-3 w-3 mt-[23px] sm:mt-[30px]"
          src={favicon}
        />
      </div>
      <div class="grid 2xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-7">
        <div
          class="rounded-lg shadow-lg sm:hover:shadow-xl sm:hover:scale-[1.03] sm:hover:-translate-y-1 w-full bg-orange-50 overflow-hidden transition ease-in-out delay-100"
        >
          <img
            src={tinyhouse}
            class="w-[100%] object-cover h-[300px] object-center"
          />
          <div class="p-5">
            <h2 class="mt-[8px] mb-[12px] text-xl font-bold">
              Small Spaces - Case Study
            </h2>
            <div class="summary">
              A website designed for a tiny home building company, with 3D
              interactive models to showcase their builds. Check the links for a
              full case study on the design and build process of this project.
            </div>
            <div class="flex flex-row flex-wrap items-center p-5 pr-5">
              <div
                class="text-[#738a94] text-[0.9rem] leading-[0.9rem] font-medium"
              >
                <ul class="flex flex-col">
                  <h3 class="text-lg">Links -</h3>

                  <a
                    class="sm:hover:text-orange-500 active:hover:text-orange-500 pl-5 p-1"
                    href="https://smallspaces.netlify.app/"
                    target="_blank"
                  >
                    smallspaces.com</a
                  >
                  <a
                    class="sm:hover:text-orange-500 active:hover:text-orange-500 pl-5 p-1"
                    href="https://github.com/Matt-Hanger/smallspaces"
                    target="_blank"
                  >
                    github.com/smallspaces</a
                  >
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="rounded-lg shadow-lg sm:hover:shadow-xl sm:hover:scale-[1.03] sm:hover:-translate-y-1 w-full bg-orange-50 overflow-hidden transition ease-in-out delay-100"
        >
          <img
            src={quoteplan}
            class="w-[100%] object-cover h-[300px] object-center"
          />
          <div class="p-5">
            <h2 class="mt-[8px] mb-[12px] text-xl font-bold">Easy Quote</h2>
            <div class="summary">
              An online quote calculator for building and renovations. Designed
              to make quoting small renovations, such as kitchens and bathrooms,
              quick and easy with a simple web interface.
            </div>
            <div class="flex flex-row flex-wrap items-center p-5 pr-5">
              <div
                class="text-[#738a94] text-[0.9rem] leading-[0.9rem] font-medium"
              >
                <ul class="flex flex-col">
                  <h3 class="text-lg">Links -</h3>
                  <a
                    class="sm:hover:text-orange-500 active:hover:text-orange-500 pl-5 p-1"
                    href=""
                    target=""
                  >
                    Coming Soon</a
                  >
                  <a
                    class="sm:hover:text-orange-500 active:hover:text-orange-500 pl-5 p-1"
                    href="https://github.com/Matt-Hanger/"
                    target="_blank"
                  >
                    github.com/Matt-Hanger</a
                  >
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="rounded-lg shadow-lg sm:hover:shadow-xl sm:hover:scale-[1.03] sm:hover:-translate-y-1 w-full bg-orange-50 overflow-hidden transition ease-in-out delay-100"
        >
          <img
            src={climbs}
            class="w-[100%] object-cover h-[300px] object-center"
          />
          <div class="p-5">
            <h2 class="mt-[8px] mb-[12px] text-xl font-bold">Ascend</h2>
            <div class="summary">
              A online repository for logging and documenting rock climbing
              ascents. Log a photo along with tags, such as location, date, and
              grade to keep track of all your climbing adventures.
            </div>
            <div class="flex flex-row flex-wrap items-center p-5 pr-5">
              <div
                class="text-[#738a94] text-[0.9rem] leading-[0.9rem] font-medium"
              >
                <ul class="flex flex-col">
                  <h3 class="text-lg">Links -</h3>
                  <a
                    class="sm:hover:text-orange-500 active:hover:text-orange-500 pl-5 p-1"
                    href=""
                    target=""
                  >
                    Coming Soon</a
                  >
                  <a
                    class="sm:hover:text-orange-500 active:hover:text-orange-500 pl-5 p-1"
                    href="https://github.com/Matt-Hanger/ascend"
                    target="_blank"
                  >
                    github.com/ascend</a
                  >
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
