---
import bottomskillswave from "../assets/images/bottomskillswave.png";
import climbs from "../assets/images/climbs.jpg";
import quoteplan from "../assets/images/quoteplan.jpg";
import tinyhouse from "../assets/images/tinyhouse.jpg";
import favicon from "../assets/images/favicon.png";
---

<div class="flex">
  <div class="w-screen">
    <img class="object-fill w-screen" src={bottomskillswave} alt="waves" />
    <div
      id="projects"
      class="flex flex-col mx-auto sm:max-w-[65%] max-w-[85%] my-10 gap-7"
    >
      <div class="flex flex-row justify-center sm:p-10 p-3">
        <h1 class="text-orange-500 font-bold items-center sm:text-5xl text-4xl">
          Projects
        </h1>
        <img
          class="sm:h-4 sm:w-4 h-3 w-3 mt-[25px] sm:mt-[30px]"
          src={favicon}
        />
      </div>
      <div class="grid 2xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-7">
        <div
          class="rounded-lg shadow-lg sm:hover:shadow-xl sm:hover:scale-[1.03] sm:hover:-translate-y-1 w-full bg-orange-50 overflow-hidden transition ease-in-out delay-100"
        >
          <img
            src={tinyhouse}
            class="w-[100%] object-cover h-[300px] object-center"
          />
          <div class="p-5">
            <h2 class="mt-[8px] mb-[12px] text-xl font-bold">Tiny House</h2>
            <div class="summary">
              In the last article, we implemented a simple dense network to
              recognize MNIST images with PyTorch. In this article, we’ll stay
              with the MNIST recognition task, but this time we’ll use
              convolutional networks...
            </div>
            <div class="flex flex-row flex-wrap items-center p-5 pr-5">
              <div
                class="text-[#738a94] text-[0.9rem] leading-[0.9rem] font-medium"
              >
                Links
              </div>
            </div>
          </div>
        </div>
        <div
          class="rounded-lg shadow-lg sm:hover:shadow-xl sm:hover:scale-[1.03] sm:hover:-translate-y-1 w-full bg-orange-50 overflow-hidden transition ease-in-out delay-100"
        >
          <img
            src={quoteplan}
            class="w-[100%] object-cover h-[300px] object-center"
          />
          <div class="p-5">
            <h2 class="mt-[8px] mb-[12px] text-xl font-bold">Easy Quote</h2>
            <div class="summary">
              In the last article, we implemented a simple dense network to
              recognize MNIST images with PyTorch. In this article, we’ll stay
              with the MNIST recognition task, but this time we’ll use
              convolutional networks...
            </div>
            <div class="flex flex-row flex-wrap items-center p-5 pr-5">
              <div
                class="text-[#738a94] text-[0.9rem] leading-[0.9rem] font-medium"
              >
                Links
              </div>
            </div>
          </div>
        </div>
        <div
          class="rounded-lg shadow-lg sm:hover:shadow-xl sm:hover:scale-[1.03] sm:hover:-translate-y-1 w-full bg-orange-50 overflow-hidden transition ease-in-out delay-100"
        >
          <img
            src={climbs}
            class="w-[100%] object-cover h-[300px] object-center"
          />
          <div class="p-5">
            <h2 class="mt-[8px] mb-[12px] text-xl font-bold">Climbs</h2>
            <div class="summary">
              In the last article, we implemented a simple dense network to
              recognize MNIST images with PyTorch. In this article, we’ll stay
              with the MNIST recognition task, but this time we’ll use
              convolutional networks...
            </div>
            <div class="flex flex-row flex-wrap items-center p-5 pr-5">
              <div
                class="text-[#738a94] text-[0.9rem] leading-[0.9rem] font-medium"
              >
                Links
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
